
a:link {font-family:arial !important; color:#ececec !important; font-weight:bold; font-size: 18px;
cursor: url('https://sdgcommunications.pw/profile_styles/wic-profile/cursor-slipnot.cur'), auto; 
 }
a:hover {font-family:arial !important; color:red !important; font-weight:bold; font-size:18px;  font-family: Verdana, Arial, sans-serif; color: #54e6d3!important;
cursor: url('https://sdgcommunications.pw/profile_styles/wic-profile/cursor-slipnot-hover.cur'), auto!important; 


}
a:active {font-family:arial !important; color:#FFF !important; font-weight:bold; font-size: 18px; }

#MSCodesFixer > tbody > tr > td > table{
   margin-left: 0px!important; 
   margin-top: -9px!important; 


}

 a.MainNavLink:visited {
color: white!important;
cursor: url('https://sdgcommunications.pw/profile_styles/wic-profile/cursor-slipnot.cur'), auto; 
}
#MSCodesFixer > tbody > tr > td > table{
  
}

a:link, a:active, a:visited {
  text-decoration: none;
  color: #54e6d3; 
   cursor: url('https://sdgcommunications.pw/profile_styles/wic-profile/cursor-slipnot.cur'), auto; 
}
.SCMainAdSpace {
    Display: none;
}

.SCMainHeaderPanel {
   
  height: 190px;
	background-position: center top;
	background-repeat: no-repeat;
     background-size: 100% 100%!important; 
     width: 972px;
 margin: 0 auto;
     margin-left: 0px;


}

@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    .SCMainHeaderPanel {
        width: 970px;
}

}

.SCMainFooter {
    background-color: rgba(0,0,0,0.3); 
    max-width: 600px;
    margin-left: 25%;
    margin-top: 0px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-width: 0px; 
    border-style: solid; 
    border-color:  rgba(124,4,7,0.4); 
    border-top-style: none;
    -webkit-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
     box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);

}

.MPHeaderTitleCell {
    height: 79px;
    Display: none;
}
.MPHeaderTable {
    background: None;

}
.MPToolsBar {

    Display: none;
}
.MPNavMenuStartCap {

    background: none;
}
.MPNavMenuItem {

    background: none;

}

.MPNavMenuEndCap {

    background: none;
}
img {
 margin-left: 5px;
    max-width: 600px;
}
.MPToolsBar {
    display: none;
}
.MPNavMenuTable {
    Display: none;
}

table {
   background-color: rgba(0,0,0,0.0);   
}
#MSCodesFixer > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1){
    background-color: rgba(0,0,0,0.0);
 max-width: 952px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
 border-width: 0px; 
  border-style: solid; 
  border-color:  rgba(124,4,7,0.4); 
  border-top-style: none;
  

}
body {
    background: none;
	background-image: url(https://sdgcommunications.pw/profile_styles/wic-profile/prwicbg3.png);
	background-attachment:  scroll;
	  background-repeat: no-repeat;
  background-position:top 45px left 38px!important;
  background-size: 100% 1080px;
    color: #fff;
font-size: 14px;
margin-left: -72px!important;
 cursor: url('https://sdgcommunications.pw/profile_styles/wic-profile/cursor-slipnot.cur'), auto;
}



html {
  background-image:  url(https://sdgcommunications.pw/profile_styles/wic-profile/wic-musicbg.gif), linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
  background-attachment:  fixed,fixed;
  background-repeat: no-repeat;
  background-position: top center, right;
  background-size: 100% 100%,100% 100%,100% 100%;
 cursor: url('https://sdgcommunications.pw/profile_styles/wic-profile/cursor-slipnot.cur'), auto;

}

/* =====Left====== */
#MSCodesFixer > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > 

div:nth-child(1){   
  height: 31px!important;
background: rgba(67,147,188,0.5) url(' ') repeat-x scroll 0% 0%!important;
    border-color:  rgba(230,179,24,0.5);
      border-width: 2; 
  border-style: solid; 
    color: #FFF;
    font-weight: bold;
border-top-right-radius: 9px !important;
border-top-left-radius: 9px !important;
-webkit-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
}
#MSCodesFixer > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > 

div:nth-child(1) > img:nth-child(1){ display:none; }

#ctl00_oCPH1_tbDetailsSection > tr:nth-child(1) > td:nth-child(1) > div:nth-child(1){   
  height: 31px!important;
   background: rgba(67,147,188,0.5) url(' ') repeat-x scroll 0% 0%!important;
    border-color:  rgba(230,179,24,0.5);
      border-width: 2; 
  border-style: solid; 
    color: #FFF;
    font-weight: bold;
border-top-right-radius: 9px !important;
border-top-left-radius: 9px !important;
-webkit-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
}
#ctl00_oCPH1_tbDetailsSection > tr:nth-child(1) > td:nth-child(1) > 

#ctl00_oCPH1_pnlSexyStuff > div:nth-child(1){   
  height: 31px!important;
 background: rgba(67,147,188,0.5) url(' ') repeat-x scroll 0% 0%!important;
    border-color:  rgba(230,179,24,0.5);
      border-width: 2; 
  border-style: solid; 
    color: #FFF;
    font-weight: bold;
border-top-right-radius: 9px !important;
border-top-left-radius: 9px !important;
-webkit-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
}
#ctl00_oCPH1_pnlSexyStuff > div:nth-child(1) > img:nth-child(1){ display:none; }
div:nth-child(1) > img:nth-child(1){ display:none; }

#ctl00_oCPH1_pnlWebGifts > div:nth-child(1){    
  height: 31px!important;
background: rgba(67,147,188,0.5) url(' ') repeat-x scroll 0% 0%!important;
    border-color:  rgba(230,179,24,0.5);
      border-width: 2; 
  border-style: solid; 
    color: #FFF;
    font-weight: bold;
border-top-right-radius: 9px !important;
border-top-left-radius: 9px !important;
-webkit-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
}
#ctl00_oCPH1_pnlWebGifts > div:nth-child(1) > img:nth-child(1){ display:none; }

/* =====right======*/
#MSCodesFixer > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) > 

div:nth-child(1){ display:none; }
#ctl00_oCPH1_tbDetailsSection > tr:nth-child(1) > td:nth-child(2) > div:nth-child(1){
    height: 31px!important;
  background: rgba(67,147,188,0.5) url(' ') repeat-x scroll 0% 0%!important;
    border-color:  rgba(230,179,24,0.5);
      border-width: 2; 
  border-style: solid; 
    color: #FFF;
    font-weight: bold;
border-top-right-radius: 9px !important;
border-top-left-radius: 9px !important;
-webkit-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
}
#ctl00_oCPH1_tbDetailsSection > tr:nth-child(1) > td:nth-child(2) > div:nth-child(1) > img:nth-child(1){ display:none; }
#ctl00_oCPH1_tbDetailsSection > tr:nth-child(1) > td:nth-child(2) > div:nth-child(3){
    height: 31px!important;
background: rgba(67,147,188,0.5) url(' ') repeat-x scroll 0% 0%!important;
    border-color:  rgba(230,179,24,0.5);
      border-width: 2; 
  border-style: solid; 
    color: #FFF;
    font-weight: bold;
border-top-right-radius: 9px !important;
border-top-left-radius: 9px !important;
-webkit-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
}
#ctl00_oCPH1_tbDetailsSection > tr:nth-child(1) > td:nth-child(2) > div:nth-child(3) > img:nth-child(1){ display:none; }

 



/* =====right with status====== == 

#MSCodesFixer > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) > 

div:nth-child(1){ display:none; }
#ctl00_oCPH1_pnlSocialStatus > div:nth-child(1){
    height: 31px!important;
background: rgba(67,147,188,0.5) url(' ') repeat-x scroll 0% 0%!important;
    border-color:  rgba(230,179,24,0.5);
      border-width: 2; 
  border-style: solid; 
    color: #FFF;
    font-weight: bold;
border-top-right-radius: 9px !important;
border-top-left-radius: 9px !important;
-webkit-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
}
#ctl00_oCPH1_pnlSocialStatus > div:nth-child(1) > img:nth-child(1){ display:none; }
#ctl00_oCPH1_tbDetailsSection > tr:nth-child(1) > td:nth-child(2) > div:nth-child(2){
    height: 31px!important;
background: rgba(67,147,188,0.5) url(' ') repeat-x scroll 0% 0%!important;
    border-color:  rgba(230,179,24,0.5);
      border-width: 2; 
  border-style: solid; 
    color: #FFF;
    font-weight: bold;
border-top-right-radius: 9px !important;
border-top-left-radius: 9px !important;
-webkit-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
}
#ctl00_oCPH1_tbDetailsSection > tr:nth-child(1) > td:nth-child(2) > div:nth-child(2) > img:nth-child(1){ display:none; }
#ctl00_oCPH1_tbDetailsSection > tr:nth-child(1) > td:nth-child(2) > div:nth-child(4){
    height: 31px!important;
background: rgba(67,147,188,0.5) url(' ') repeat-x scroll 0% 0%!important;
    border-color:  rgba(230,179,24,0.5);
      border-width: 2; 
  border-style: solid; 
    color: #FFF;
    font-weight: bold;
border-top-right-radius: 9px !important;
border-top-left-radius: 9px !important;
-webkit-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
}
#ctl00_oCPH1_tbDetailsSection > tr:nth-child(1) > td:nth-child(2) > div:nth-child(4) > img:nth-child(1){ display:none; }



*/




/* =====bottom====== */

#ctl00_oCPH1_tbFriendsSection > tr:nth-child(1) > td:nth-child(1) > div:nth-child(1) > img:nth-child(1){ display:none; }

.PDispUsername {
  background: Transparent !important;
}

.PDispImage {
     width: 110px;
  background-color: rgba(0, 0, 0, 0.0)!important;
  border-bottom: 1px solid transparent;
  text-align: center;
}

.PDispOnlineSC {
    width: 110px;
    height: 30px!important;
background: url("'https://s3.amazonaws.com/files.enjin.com/1354982/other/utherverse/profile/showprofile/OnlineSC.png") no-repeat  !important;
background-size: 120px 30px!important;
    border-bottom: 1px solid transparent;
}

.PDispOnline3D {
    width: 110px;
    height: 30px!important;
    background: url("https://s3.amazonaws.com/files.enjin.com/1354982/other/utherverse/profile/showprofile/Online3D.png") no-repeat  !important;
background-size: 120px 30px!important;
}

#ctl00_oCPH1_tbFriendsSection > tr:nth-child(1) > td:nth-child(1) > div:nth-child(1){
    height: 31px!important;
background: rgba(67,147,188,0.5) url(' ') repeat-x scroll 0% 0%!important;
    border-color:  rgba(230,179,24,0.5);
      border-width: 2; 
    color: #FFF;
    font-weight: bold;
border-top-right-radius: 9px !important;
border-top-left-radius: 9px !important;
-webkit-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);

}



#ctl00_oCPH1_tbFriendsSection > tr:nth-child(1) > td:nth-child(1) > div:nth-child(1) > img:nth-child(1){ display:none; }


#ctl00_oCPH1_tbCommentsSection > tr:nth-child(1) > td:nth-child(1) > div:nth-child(1){
    height: 31px!important;
background: rgba(67,147,188,0.5) url(' ') repeat-x scroll 0% 0%!important;
    border-color:  rgba(230,179,24,0.5);
      border-width: 2; 
  border-style: solid; 
    color: #FFF;
    font-weight: bold;
border-top-right-radius: 9px !important;
border-top-left-radius: 9px !important;
-webkit-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
}
#ctl00_oCPH1_tbCommentsSection > tr:nth-child(1) > td:nth-child(1) > div:nth-child(1) > img:nth-child(1){ display:none; }


/* =====text alian====== */

#ctl00_oCPH1_tbFriendsSection > tr:nth-child(1) > td:nth-child(1) > div:nth-child(1) > div:nth-child(2){
left: 5px;
}
#ctl00_oCPH1_tbDetailsSection > tr:nth-child(1) > td:nth-child(2) > div:nth-child(3) > div:nth-child(2){
left: 5px;
}
#ctl00_oCPH1_tbDetailsSection > tr:nth-child(1) > td:nth-child(2) > div:nth-child(1) > div:nth-child(2){
left: 5px;
}
#MSCodesFixer > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > div:nth-child(1) > div:nth-child(2){
left: 5px;
}
#ctl00_oCPH1_tbDetailsSection > tr:nth-child(1) > td:nth-child(1) > div:nth-child(1) > div:nth-child(2){
left: 5px;
}

#ctl00_oCPH1_pnlSexyStuff > div:nth-child(1) > div:nth-child(2){
left: 5px;
}
#ctl00_oCPH1_pnlWebGifts > div:nth-child(1) > div:nth-child(2){
left: 5px;
}

#ctl00_oCPH1_tbCommentsSection > tr:nth-child(1) > td:nth-child(1) > div:nth-child(1) > div:nth-child(2){
left: 5px;
}

.giftSlider {
    height: 100px!important;
}

.giftbody .rounded.white {
    background: rgba(0,0,0,.5);
}
.giftbody .rounded.inner {
    text-align: center;
background-color: transparent; margin:0px; padding:0px; 
}

.giftbody .rounded {
    border: 0px solid Transparent !important;
    border-radius: 5px;
    padding: 5px;
}
table table table {
  border-width: 0; 
  border-style: solid; 
  border-color:  rgba(231,164,19,0.5);
  background-color: rgba(0,0,0,0.0);
  background-image:url(); background-repeat:repeat;  
width: 100% !important; 
border-bottom-left-radius: 12px ;
border-bottom-right-radius: 12px ;
} 
table, tr, td, table table, table table td {
  border-width:0px;  
  margin:0px; padding:0px; 
  max-width: 700px;
margin-top: 9px!important;
  
}  

.stripM {
  overflow: hidden;
  background-color: rgba(0,0,0,0.8);
  background-image: url("https://sdgcommunications.pw/profile_styles/wic-profile/title2-dark-blue.png");
  background-repeat:repeat-x;
  background-position:top -5px center;  
  background-size: 110% 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%!important;
  font-size: 14px;
  height: 55px;
   border-left: 0px;
   border-right: 0px; 
   border-top: 0px; 
   border-bottom: 1px;  
  border-style: solid; 
  border-color:  rgba(9, 48, 87, 0.8); 
-webkit-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
}

.stripM a {
  float: left;
   margin-left: 9px;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.0);
   
}

.water{
  position: fixed;
  bottom: 40px;
right: 5px;
  background-color: Transparent;

}
.stripM a:hover{
  color: blue;
  background-color: rgba(0, 0, 0, 0.8);
   border-left: 0px;
   border-right: 0px; 
   border-top: 0px; 
   border-bottom: 0px;  

  border-style: solid; 
  border-color:  rgba(9, 48, 87, 0.8); 
  
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
-webkit-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8);
   height: 30px!important;

}

/* =====Info Block bg====== */


#ctl00_oCPH1_tbCommentsSection > tr:nth-child(2){
        max-width: 940px!important;
  background-color: rgba(0,0,0,0.7)!important;
  background-image:url(); background-repeat:repeat;  
width: 100% !important; 
   -webkit-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8)!important;
    -moz-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8)!important;
     box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8)!important;

    border-bottom-left-radius: 12px !important;
border-bottom-right-radius: 12px !important;

}

#ctl00_oCPH1_tbDetailsSection > tr:nth-child(1) > td:nth-child(2) > div:nth-child(2) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1)

{
        
  background-color: rgba(0,0,0,0.7)!important;
  background-image:url(); background-repeat:repeat;  
width: 100% !important; 
   -webkit-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8)!important;
    -moz-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8)!important;
     box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8)!important;

    border-bottom-left-radius: 12px !important;
border-bottom-right-radius: 12px !important;

}

#MSCodesFixer > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) > div:nth-child(2) > table:nth-child(3)
{
        
  background-color: rgba(0,0,0,0.7)!important;
  background-image:url(); background-repeat:repeat;  
width: 100% !important; 
   -webkit-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8)!important;
    -moz-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8)!important;
     box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8)!important;

    border-bottom-left-radius: 12px !important;
border-bottom-right-radius: 12px !important;

}


#MSCodesFixer > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > div:nth-child(2) > table:nth-child(1) > tbody:nth-child(1)
{
        
  background-color: rgba(0,0,0,0.7)!important;
  background-image:url(); background-repeat:repeat;  
width: 100% !important; 
   -webkit-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8)!important;
    -moz-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8)!important;
     box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8)!important;

    border-bottom-left-radius: 12px !important;
border-bottom-right-radius: 12px !important;

}

#ctl00_oCPH1_tbDetailsSection > tr:nth-child(1) > td:nth-child(1) > div:nth-child(2) > table:nth-child(1)
{
        
  background-color: rgba(0,0,0,0.7)!important;
  background-image:url(); background-repeat:repeat;  
width: 100% !important; 
   -webkit-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8)!important;
    -moz-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8)!important;
     box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8)!important;

    border-bottom-left-radius: 12px !important;
border-bottom-right-radius: 12px !important;

}

#ctl00_oCPH1_pnlSexyStuff > div:nth-child(2) > table:nth-child(1)
{
        
  background-color: rgba(0,0,0,0.7)!important;
  background-image:url(); background-repeat:repeat;  
width: 100% !important; 
   -webkit-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8)!important;
    -moz-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8)!important;
     box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8)!important;

    border-bottom-left-radius: 12px !important;
border-bottom-right-radius: 12px !important;

}

#ctl00_oCPH1_tbDetailsSection > tr:nth-child(1) > td:nth-child(2) > div:nth-child(4) > table:nth-child(1)
{
        
  background-color: rgba(0,0,0,0.7)!important;
  background-image:url(); background-repeat:repeat;  
width: 100% !important; 
   -webkit-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8)!important;
    -moz-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8)!important;
     box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8)!important;

    border-bottom-left-radius: 12px !important;
border-bottom-right-radius: 12px !important;

}
#MSCodesFixer > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) > div:nth-child(2) > table:nth-child(2){
        
  background-color: rgba(0,0,0,0.7)!important;
  background-image:url(); background-repeat:repeat;  
width: 100% !important; 
   -webkit-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8)!important;
    -moz-box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8)!important;
     box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.8)!important;

    border-bottom-left-radius: 12px !important;
border-bottom-right-radius: 12px !important;

}



#ctl00_oCPH1_tblPComments > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) > p:nth-child(3){
margin-left: 10%;
}


 #wm{
      background-image: url(https://s3.amazonaws.com/files.enjin.com/1354982/other/utherverse/profile/showprofile/ws-logo.png);
      background-repeat: no-repeat;
      background-position: left top;
      background-size: 100px 68px!important; 
 position: fixed;
     left: 35px; 
     top:68px;
     width:100px;
     height: 62px;
opacity: .9;
   }
#wm:hover {
    cursor: url('https://sdgcommunications.pw/profile_styles/wic-profile/cursor-slipnot-hover.cur'), auto; 
    opacity: 9.9;
}
